<h1>Login#index</h1>
<%= form_with do |form| %>
    <%= form.label :email, "Email:" %>
    <%= form.text_field :email %>
    <%= form.label :pswd, "Password:" %>
    <%= form.text_field :pswd %>
    <%= form.submit "Login" %>
<% end %>
